body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(114, 86, 141);
}

.code-inp {
    width: 600px;
    height: 800px;
    resize: none;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgb(43, 38, 48);
    color:aquamarine;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 5px;
    tab-size: 4;
}

.header-code-inp{
    width: 600px;
    height: 100px;
    background-color: rgb(60, 57, 110);
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-btn{
    border: none;
    outline: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 24pt;
    background-color: rgb(126, 126, 198);
    color: rgb(179, 206, 245);
    transition: 200ms;
    margin-left: 10px;
    margin-right: 10px;
}
.header-btn:hover{
    background-color: white;
    color: orange;
}
.container{
    display: flex;
}
.panel-contaoner{
    margin-left: 10px;
    margin-right: 10px;
}
.console{
    height: 900px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: hidden;
}